i:hover {
    cursor: pointer;
    cursor: hand;
}

.werkParent {
    cursor: move;
    overflow: hidden;
    clear: both;
    margin-bottom: 15px;
}

.searchbar {
    margin-top: -44px;
}

.angular-google-map-container {
    height: 750px;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.embed-responsive-16by9 {
    margin-bottom: -50px;
}

.menuLogo {
    background-color: #414141;
    font-size: 20px;
}

.invoer {
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: 35px;
    margin-bottom: 25px;
}

.pull-right {
    min-width: 200px;
}

.divider {
    padding-bottom: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.noborder > tbody > tr > td {
    border-top: 0;
}

@media print {
    body {
        font-size: 13px;
    }
    .verberg {
        display: none !important;
    }
    .container-fluid {
        padding-left: 0 !important;
    }
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    
    margin: 0 auto -65px;
    /* Pad bottom by footer height */
    
    padding: 0 0 60px;
}
/* Set the fixed height of the footer here */

#footer {
    height: 60px;
    background-color: #f5f5f5;
    bottom: 0;
}

.container-fluid {
    padding-left: 185px;
}

@media(max-width:767px) {
    .container-fluid {
        padding-left: 15px !important;
    }
}
/* left menu 
-------------------------------------------------- */

.tabs-left .menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 170px;
    border: 0;
}

.tabs-left .mainmenu {
    background: #252323;
}

.tabs-left .mainmenu.nav > li > a.selected {
    padding-top: 12.5px;
    margin: 0;
    border-radius: 0;
    background-color: #058ec7;
    color: #ffffff;
}

.tabs-left .nav-tabs > li {
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 0;
}

.tabs-left .nav-tabs > li:hover {
    cursor: pointer;
}

.tabs-left .nav-tabs > li > a {
    color: white;
    border: 0;
    margin-top: 2px;
    margin-bottom: 1px;
}

.tabs-left .nav-tabs > li:hover,
.tabs-left .nav-tabs > li:focus {
    background-color: #433f3f;
}

.tabs-left .nav-tabs > li > a:hover,
.tabs-left .nav-tabs > li > a:focus {
    background-color: #433f3f;
    color: white;
    border: 0;
    border-radius: 0;
    margin-right: 0;
}
/* font awesome custom shit */

.draggable {
    margin-left: 0px !important;
    margin-top: 3px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.draggable.fa {
    width: 0;
}

.draggable.fa:hover {
    cursor: move;
}

.fa {
    width: 38px;
    color: #919191;
    text-align: center;
    margin-left: -16px;
}

.fa-user:before {
    font-size: 18px;
}

.selected > .fa {
    color: #ffffff;
}

.nav-tabs .fa:before {
    font-size: 17px;
}

.fa-user-plus:before,
.fa-user-plus:before {
    margin-left: 10px;
    color: #dedede;
}

.fa-chevron-up:before,
.fa-chevron-down:before {
    margin-left: 40px;
}

li:hover > a > i:before {
    color: #ffffff;
}
/* ------------- maps search styles ---------------------- */

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.pac-controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px !important;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;
    /* Regular padding-left + 1. */
    
    width: 401px;
}

.pac-container {
    font-family: 'Open Sans', sans-serif;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}
/* fix for Twitter Bootstrap handling of responsive images */

.angular-google-map img {
    max-width: inherit;
}