<div class="divider">
    <h1>Klanten</h1>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-xs-1">
                ID
            </th>
            <th class="col-xs-2">
                contactnaam
            </th>
            <th class="col-xs-3">
                bedrijfsnaam
            </th>
            <th class="col-xs-3">
                adres
            </th>
            <th class="col-xs-1">
                postcode
            </th>
            <th class="col-xs-2">
                stad
            </th>
            <th ng-if="invoerKlanten" class="col-xs-1">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="klant in alleKlanten" ng-if="invoerKlanten">
            <td>
                <a editable-text="klant.clientID">{{ klant.clientID || 'empty'}}</a>
            </td>
            <td>
                <a editable-text="klant.contact">{{ klant.contact || 'empty'}}</a>            
            </td>
            <td>
                <a editable-text="klant.company">{{ klant.company || 'empty'}}</a>
            </td>
            <td>
                <a editable-text="klant.address">{{ klant.address || 'empty'}}</a>
            </td>
            <td>
                <a editable-text="klant.zipcode">{{ klant.zipcode || 'empty'}}</a>
            </td>
            <td>
                <a editable-text="klant.city">{{ klant.city || 'empty'}}</a>
            </td>
            <td>
                <i ng-click="deleteKlant(klant.clientID)" class="fa fa-trash-o"></i>
            </td>
        </tr>
        <tr ng-repeat="klant in alleKlanten" ng-hide="invoerKlanten">
            <td>
                {{ klant.clientID || 'empty'}}
            </td>
            <td>
                {{ klant.contact || 'empty'}}           
            </td>
            <td>
                {{ klant.company || 'empty'}}
            </td>
            <td>
                {{ klant.address || 'empty'}}
            </td>
            <td>
                {{ klant.zipcode || 'empty'}}
            </td>
            <td>
                {{ klant.city || 'empty'}}
            </td>
        </tr>
        <tr ng-if="invoerKlanten">
            <td>
                <input class="form-control" type="text" placeholder="A/I" disabled />
            </td>
            <td>
                <input class="form-control" type="text" ng-model="nieuwklant.contact" placeholder="Contact naam" />
            </td>
            <td>
                <input class="form-control" type="text" ng-model="nieuwklant.company" placeholder="Bedrijfsnaam" />
            </td>
            <td>
                <input class="form-control" type="text" ng-model="nieuwklant.address" placeholder="Adres" />
            </td>
            <td>
                <input class="form-control" type="text" ng-model="nieuwklant.zipcode" placeholder="Postcode" />
            </td>
            <td>
                <input class="form-control" type="text" ng-model="nieuwklant.city" placeholder="Stad" />
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <button class="btn btn-primary" ng-click="addKlant()">Klanten aanpassen</button>
    <button ng-if="invoerKlanten" class="btn btn-success" ng-click="saveKlant()">Opslaan</button>
</div>

<!-- Modal popup -->
<div id="bevestigModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bevestiging</h4>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u deze klant wilt verwijderen: {{klantid}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
                <button ng-click="deleteKlant2()" type="submit" class="btn btn-primary" data-dismiss="modal">Verwijder klant</button>
            </div>
        </div>
    </div>
</div>